<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partial/head") %>
</head>

<body class="bg-gray-100 cursor-default">
    <%- include("./partial/sidebar",{sidebarCategories:sidebarCategories}) %>
        <!-- Main Content -->
        <div class="p-4 sm:ml-64 bg-sky-600 min-h-screen">
            <%- include('./ads/1') %>
                <main class="flex-1 p-4">
                    <h1 class="text-center text-3xl font-bold mb-6 text-white">Mini-Gamer</h1>
                    <!-- Category Data -->
                    <% categories.forEach((category, index)=> { %>
                        <div class="my-6">
                            <div class="my-3 flex text-white font-bold">
                                <h1 class="text-2xl">
                                    <%= category.name %>
                                </h1>
                                <a href="/category/<%= category.slug %>" class="text-xs ml-4 my-auto">More New Games</a>
                            </div>
                            <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6 xl:grid-cols-8 gap-4">
                                <% category?.games?.slice(0, 8).forEach((game, gameIndex)=> { %>
                                    <%- include('./partial/gameCard', { game }) %>
                                        <% }) %>
                            </div>
                        </div>
                        <% if ([2, 5].includes(index)) { %>
                            <%- include(`./ads/${index===2 ? '2' : '3' }`) %>
                                <% } %>
                                    <% }) %>

                </main>
        </div>

        </div>
        <%- include("./partial/footer") %>
</body>

</html>