<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partial/head", { title: "Edit Category" }) %>
</head>

<body>
    <!-- Sidebar -->
    <%- include("../partial/sidebar") %>

        <!-- Main Content -->
        <div class="ml-0 md:ml-64 flex flex-col min-h-screen">
            <!-- Header -->
            <%- include("../partial/header") %>

                <!-- Main Content Area -->
                <div class="container mx-auto py-8 mt-5">
                    <div class="flex flex-col shadow-md mb-5 bg-white rounded-lg p-5">
                        <h1 class="text-4xl font-extrabold mb-4 text-gray-900">
                            Edit Category
                        </h1>
                        <div class="block my-1">
                            <% if(error.length> 0){ %>
                                <p class="text-red-700 text-xl font-bold my-2">
                                    <%= error %>
                                </p>
                                <% } %>
                        </div>

                        <form id="categoryForm" action="/admin/category/<%= category.id %>/update" method="POST"
                            enctype="multipart/form-data">
                            <!-- Name field -->
                            <div class="mb-4">
                                <label for="name" class="block text-sm font-medium text-gray-700">Name:</label>
                                <input id="name" name="name" type="text" value="<%= category.name %>"
                                    class="mt-1 block border p-1 w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
                                    required />
                            </div>

                            <!-- Icon field -->
                            <div class="mb-4">
                                <label for="icon" class="block text-sm font-medium text-gray-700">Icon:</label>
                                <input id="icon" name="icon" type="text"
                                    class="mt-1 block border p-1 w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
                                    value="<%= category?.icon %>" />
                            </div>

                            <!-- image field -->
                            <div class="mb-4">
                                <label for="image" class="block text-sm font-medium text-gray-700">Image:</label>
                                <input id="image" name="image" type="file"
                                    class="mt-1 block border p-1 w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
                                    accept="image/*" />
                                <div class="gap-4 my-2">
                                    <img src="<%= category.image %>" alt="image" class="mx-2 w-14 h-14">
                                </div>
                            </div>

                            <!-- shorting field -->
                            <div class="mb-4">
                                <label for="shorting" class="block text-sm font-medium text-gray-700">Shorting:</label>
                                <input id="shorting" name="shorting" type="number"
                                    class="mt-1 block border p-1 w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
                                    value="<%= category.shorting %>" />
                            </div>

                            <!-- Submit Button -->
                            <button type="submit"
                                class="inline-flex items-center px-4 py-2 bg-blue-500 border border-transparent rounded-md shadow-sm text-base font-medium text-white hover:bg-blue-600">
                                Update
                            </button>
                        </form>
                    </div>
                </div>
        </div>

        <!-- Footer -->
        <%- include("../partial/footer") %>
</body>

</html>