<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partial/head", { title: "Create Games" }) %>
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.5.0/plugins/templates/dialogs/templates.min.css"
            integrity="sha512-wnSq9xWRZZ+edU6ZQXbEkxVh0LYC14YlUX81izxCc2mRrHBNjwHS6mz7rn1KMfyBuQv77ApGySQMhw8vyY6iAA=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.5.0/ckeditor.js"
            integrity="sha512-qy5XxLQ56sbeV31D+eEIozHcy375unZgFty0fgsadpKMy58IV8FnvoO9e/eAY3UhEGB1BJSy6xCfsmGZtwWxWg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <!-- Sidebar -->
    <%- include("../partial/sidebar") %>

        <!-- Main Content -->
        <div class="ml-0 md:ml-64 flex flex-col min-h-screen">
            <!-- Header -->
            <%- include("../partial/header") %>

                <!-- Main Content Area -->
                <div class="container mx-auto py-8 mt-5">
                    <div class="flex flex-col shadow-md mb-5 bg-white rounded-lg p-5">
                        <h1 class="text-4xl font-extrabold mb-4 text-gray-900">
                            Create Games
                        </h1>
                        <!-- Error Display -->
                        <div class="block my-1">
                            <% if(error.length> 0){ %>
                                <p class="text-red-700 text-xl font-bold my-2">
                                    <%= error %>
                                </p>
                                <% } %>
                        </div>

                        <form action="/admin/games/store" method="POST" enctype="multipart/form-data">
                            <!-- Categories field -->
                            <div class="mb-4">
                                <label for="category_id" class="block text-sm font-medium text-gray-700">Select
                                    Categorie:</label>
                                <select id="category_id" name="category_id"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                    <option selected>Choose a categories</option>
                                    <% categories.forEach((category, index)=> { %>
                                        <option value="<%= category.id %>">
                                            <%=category.name%>
                                        </option>
                                        <% }) %>
                                </select>
                            </div>

                            <!-- Title field -->
                            <div class="mb-4">
                                <label for="title" class="block text-sm font-medium text-gray-700">Title:</label>
                                <input id="title" name="title" type="text"
                                    class="mt-1 block border p-1 w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
                                    required placeholder="Enter title" />
                            </div>

                            <!-- game_url field -->
                            <div class="mb-4">
                                <label for="game_url" class="block text-sm font-medium text-gray-700">Game URL:</label>
                                <input id="game_url" name="game_url" type="game_url"
                                    class="mt-1 block border p-1 w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
                                    placeholder="Enter Game URL" />
                            </div>

                            <!-- Logo field -->
                            <div class="mb-4">
                                <label for="Logo" class="block text-sm font-medium text-gray-700">Logo:</label>
                                <input id="logo" name="images" type="file"
                                    class="mt-1 block border p-1 w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
                                    accept="image/*" />
                                <p class="text-center">Or</p>
                                <input id="logo_url" name="logo_url" type="text"
                                    class="mt-1 block border p-1 w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
                                    placeholder="Enter logo url" />
                            </div>

                            <!-- Banner field -->
                            <div class="mb-4">
                                <label for="images" class="block text-sm font-medium text-gray-700">Banner:</label>
                                <input id="banner" name="banner" type="file"
                                    class="mt-1 block border p-1 w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
                                    accept="image/*" />
                                <p>Or</p>
                                <input id="banner_url" name="banner_url" type="text"
                                    class="mt-1 block border p-1 w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
                                    placeholder="Enter Banner Url" />
                            </div>

                            <!-- Short Description field -->
                            <div class="mb-4">
                                <label for="short_desc" class="block text-sm font-medium text-gray-700">Short
                                    Description:</label>
                                <input id="short_desc" name="short_desc" type="text"
                                    class="mt-1 block border p-1 w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
                                    placeholder="Enter Description" />
                            </div>

                            <!-- Description field (CKEditor) -->
                            <div class="mb-4">
                                <label for="description"
                                    class="block text-sm font-medium text-gray-700">Description:</label>
                                <textarea name="description" id="description"
                                    class="mt-1 block border p-1 w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"></textarea>
                            </div>

                            <!-- Shorting field -->
                            <div class="mb-4">
                                <label for="shorting" class="block text-sm font-medium text-gray-700">Shorting:</label>
                                <input id="shorting" name="shorting" type="number"
                                    class="mt-1 block border p-1 w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
                                    value="500" />
                            </div>

                            <button type="submit"
                                class="inline-flex items-end px-4 py-2 bg-blue-500 border border-transparent rounded-md shadow-sm text-base font-medium text-white hover:bg-blue-600 float-right">
                                Submit
                            </button>
                        </form>
                    </div>
                </div>
        </div>

        <!-- Footer -->
        <%- include("../partial/footer") %>

            <script>
                CKEDITOR.replace("description", {
                    extraPlugins: "justify,colorbutton,font",
                    toolbar: [
                        { name: "document", items: ["Source", "Preview", "Print"] },
                        { name: "clipboard", items: ["Cut", "Copy", "Paste", "Undo", "Redo"] },
                        { name: "basicstyles", items: ["Bold", "Italic", "Underline", "RemoveFormat"] },
                        { name: "paragraph", items: ["NumberedList", "BulletedList", "JustifyLeft", "JustifyCenter", "JustifyRight"] },
                        { name: "links", items: ["Link", "Unlink"] },
                        { name: "insert", items: ["Image", "Table", "Smiley", "SpecialChar"] },
                        { name: "styles", items: ["Styles", "Format", "Font", "FontSize"] },
                        { name: "colors", items: ["TextColor", "BGColor"] },
                        { name: "tools", items: ["Maximize"] },
                    ],
                    removeDialogTabs: "image:advanced;link:advanced",
                });
            </script>
</body>

</html>